require 'mongoid'
Mongoid.configure do
    Mongoid.configure do |config|
       if ENV['MONGOHQ_URL']
        conn = Mongo::Connection.from_uri(ENV['MONGOHQ_URL'])
        uri = URI.parse(ENV['MONGOHQ_URL'])
        config.master = conn.db(uri.path.gsub(/^\//, ''))
      else
        name = "my_local_development_database"
        host = "localhost"
        config.master = Mongo::Connection.new.db(name)
      end
    end
end
